* {
  background: #fefefe;
}

.App {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

form, label {
  margin-top: 20px;
}

input {
  margin: auto;
}

#materialContainer {
  margin: auto;
  width: 400px;
}

@media screen and (max-width: 360px) {
  #materialContainer {
    margin: auto;
    width: 75%;
  }
}